extends layout.pug

block content
  .container
    h1 Welcome to my homepage #{user}
    p.
      Lorem ipsum dolor sit amet, #[span(class='text-primary') consectetur] adipiscing elit. In sed bibendum augue, maximus dictum ante. Nulla pulvinar eros lorem, quis pellentesque ipsum congue sed. Quisque suscipit placerat facilisis. Sed malesuada interdum iaculis. Aenean et convallis lacus. Quisque augue quam, fermentum vitae mi in, auctor consectetur orci. Vestibulum est magna, dignissim id efficitur ut, ornare eu magna. Aliquam semper arcu in lacus sodales pretium. Vivamus euismod leo nulla, a vulputate dui imperdiet ac. In hac habitasse platea dictumst. Vestibulum ac sodales sem.