extends layout.pug

block content
  .container
    h1(class="text-center") Welcome to my homepage #{user}
    p.
      Lorem ipsum dolor sit amet, #[span(class='text-primary') consectetur] adipiscing elit. In sed bibendum augue, maximus dictum ante. Nulla pulvinar eros lorem, quis pellentesque ipsum congue sed. Quisque suscipit placerat facilisis. Sed malesuada interdum iaculis. Aenean et convallis lacus. Quisque augue quam, fermentum vitae mi in, auctor consectetur orci. Vestibulum est magna, dignissim id efficitur ut, ornare eu magna. Aliquam semper arcu in lacus sodales pretium. Vivamus euismod leo nulla, a vulputate dui imperdiet ac. In hac habitasse platea dictumst. Vestibulum ac sodales sem.

    p(class="text-success").
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla maiores quasi dignissimos obcaecati placeat sed hic cumque earum, aspernatur commodi vitae reprehenderit error. Consequatur distinctio consequuntur aliquid recusandae mollitia optio asperiores nihil laborum alias officia, est, quam necessitatibus quisquam rerum suscipit! Non porro esse cupiditate optio architecto odit sapiente in!

    button(type='button' class=`btn btn-primary`) Submit